<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
    <f:section name="content">
        <div class="container mt-4 d-flex justify-content-center">
            <div class="card text-center" style="width: 44rem;">
                <f:if condition="{post.images}">
                    <f:image image="{post.images}" treatIdAsReference="1" class="card-img-top img-fluid"/>
                </f:if>
                <div class="card-body">
                    <h5 class="card-title">{post.title}</h5>
                    <p> <f:format.date date="{post.date}" format="d F Y" /> </p>
                    <p class="card-text"> <f:format.html>{post.description}</f:format.html> </p>
                    <f:link.action action="list" class="btn btn-primary">Back to list</f:link.action>
                </div>
            </div>
        </div>

        <div class="container w-50 mt-4">
            <h3 class="mb-3">Comments</h3>
            <f:if condition="{comments}">
                <f:for each="{comments}" as="comment">
                    <div class="border rounded p-3 mb-3">
                        <strong> {comment.firstName} {comment.lastName} </strong> 
                        <span class="text-muted"> <small class="text-muted"> &lt;{comment.email}</small>&gt; </span>
                        <br>
                        <p class="mt-2 mb-0"> {comment.comment} </p>
                    </div>
                </f:for>
            </f:if>

            <f:if condition="!{comments}">
                <p>No comments yet. Be the first to comment!</p>
            </f:if>
        </div>

        <div class="container w-50 mt-5 bg-secondary p-4 rounded text-white">      
            <f:form action="createComment" method="post" arguments="{post: post}" objectName="comment">
                <div class="row">
                    <div class="col-md-6 mb-3 text-start">
                        <label>First name</label>
                        <f:form.textfield property="firstName" class="form-control" required="true" placeholder="Enter your first name"/>
                    </div>
                    <div class="col-md-6 mb-3 text-start">
                        <label>Last name</label>
                        <f:form.textfield property="lastName" class="form-control" required="true" placeholder="Enter your last name"/>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col mb-3 text-start">
                        <label>Email</label>
                        <f:form.textfield property="email" type="email" class="form-control" required="true" placeholder="Enter your email"/>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col mb-3 text-start">
                        <label>Comment</label>
                        <f:form.textarea property="comment" class="form-control" rows="4" required="true" placeholder="Enter your comment"/>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col text-center">
                        <f:form.submit value="Submit Comment" class="btn btn-primary" />
                    </div>
                </div>
            </f:form>
        </div>
    </f:section>
</html>
