<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_blog_domain_model_post.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="description">
	<f:translate key="tx_blog_domain_model_post.description" />
</label><br />
	<f:form.textarea property="description" id="description" cols="40" rows="15" /><br />
<label for="images">
	<f:translate key="tx_blog_domain_model_post.images" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
</html>